@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --font-main-color-black: #000;
  --font-main-color-secondary: #333;
  --dark-color: #333;
  --light-color: #fff;
  --red-color: #e33d33;

  @media (prefers-color-scheme: dark) {
  }
}

body {
  color: var(--font-main-color);
  background: var(--background-color);
  font-size: 16px;

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.4em;
  }
}
