.header {
  background-color: var(--dark-color);
  color: #fff;
  margin-bottom: 2em;
  padding: 1em 1.2em;
  position: sticky;
  top: 0;
  z-index: 10;

  .title-logo {
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar {
    ul {
      a {
        color: var(--light-color);
        padding: 5px;
        border-bottom: 2px solid transparent;
        transition: 0.4s;

        &:hover {
          border-bottom: 2px solid var(--light-color);
        }
      }
    }
  }
}
