.pokemon-card {
  padding: 2em 1em;
  width: 15em;
  border: 2px solid var(--red-color);
  border-radius: 1em;
  box-shadow: 5px 5px 12px #00000040;
  background-color: var(--dark-color);
  color: var(--light-color);

  .number {
    margin: 1em 0;
    padding: 5px;
    background-color: var(--red-color);
    border-radius: 5px;
    color: var(--light-color);
    font-weight: bold;
  }

  .name {
    text-transform: capitalize;
    margin-bottom: 1em;
  }

  .btn {
    background-color: var(--light-color);
    color: #222;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s;

    &:hover {
      background-color: var(--red-color);
      color: var(--light-color);
    }
  }
}
